html,u
body,
.wrapper {
  height: 100%;
}
.wrappertotal {
  height: 100%;
}
.wrapper1 {
  height: 135%;
}
.wrapper2 {
  height: 100%;
}

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  overflow-x: hidden
  font: 1rem/1.516 "Montserrat", Arial, sans-serif;
  
}

.wrapper{
  background: url(img/invento.png) center center/cover;
}
.wrappertotal{
  background: url(img/invento.jpg) center center/cover;
}
.wrapper1{
  background: url(img/20887.jpg) center center/cover;
}
.wrapper2{
  background: url() center center/cover;
  margin-top: -5px;
}


.row {
  margin: 4px;
   margin-top: 40px;
}



.containerr {
 
  margin-left: 200px;
  display: flex;
  padding: 0px;

  
}

.izqderrr{
  margin-top: 0px;
  
}

.izqderrliv{
  margin-top: -3px;
  margin-left: 36px;
}

.izqderr{
  margin-top: -5px;
  margin-left: -34px;
}

.izqderate{
  margin-top: 20px;
  margin-top: 55px;
}
.izqder{
  margin-top: 20px;
}

.derechaa{
  margin-left: -15px;
  margin-top: 10px;
  
}
.derecha{
  margin-left: 50pxpx;
  margin-top: 10px;
  
}


.derechacerro{
  margin-left: 40px;
  margin-top: 50px;
  
}

.izquierdaaa{
  margin-left: 25px;
  margin-right: 50px;
  margin-top: 50px;

 
}

.izquierdaa{
  margin-left: 40px;
  margin-right: 50px;
  margin-top: 25px;

 
}

.izquierdamira{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 29px;
 
}

.izquierdapeñarol{
  margin-left: 12px;
  margin-right: 50px;
  margin-top: 10px;
 
}

.izquierda{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
 
}

.izquierdacentral{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
 
}

.izquierdariv{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 74px;
 
}


.carousel-inner{
  height: 30rem;
  width: 10px;
  margin-top: 250px;

  
}

.carousel-inner img{
  width: 1900px;
  height: 495px;
  margin-bottom: 20px;
}


.logo{
   width: 448px;
  height: 369px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -187px 0 0 -127px;
}
.logotorres{
  background-color: white;
   width: 100%;
  height: -1px;
}

.auf2{
  text-align: center;
  font-size: 40px;
font-family: 'Montserrat', sans-serif;
 font-weight: bold;
  width: 1130px;
  height: 150px;
  margin: 0px 0 0 400px;
  padding: 125px;
  text-align: center;

}

.auf{
  font-size: 30px;
font-family: 'Montserrat', sans-serif;
 font-weight: bold;
  width: 400px;
  height: 150px;
  margin: 0px 0 0 20px;
  padding: 30px;

}
.equipos{
  width: 200px;
  height: 10px;
  margin: -74px;
  float: right;
  margin-right: 45px;
  border-radius: 10px;
  padding: 20px;
  background: rgb(44, 188, 245);
}

.textoestadios{
  font-family: 'Montserrat', sans-serif;
   color: black;
   font-size: 30px;
  font-weight: bold;
  width: 91px;
  height: 30px;
  margin: -44px;
  float: right;
  margin-right: 74px;
    padding: 20px;
}


  .lista{
  width: 200px;
  height: 10px;
  margin: -74px;
  float: right;
  margin-right: 285px;
  border-radius: 10px;
  padding: 20px;
  background: rgb(44, 188, 245);

}

.salir{
  width: 200px;
  height: 100px;
  margin: 15px 0 0 20px;
}
video{
  float: right;
  width: 718px;
  height: 404px;
  top: 50%;
  left: 50%;
  margin: 65px 0 0 -140px;
  margin-right: 72px;
  border: solid skyblue 5px;
}
.imgauf{
  width: 600px;
  height: 383px;
  top: 50%;
  left: 50%;
  margin: 210px 0 0 -136px;
  margin-left: 30px;
}
.salida{  
  width: 170px;
  height: 150px;
}
.bloque1{
  width: 100%;
  height: 100px;
  background-color: white;
  box-shadow: 1px 1px 20px 0px black;
}
.bloque2{
  width: 100%;
  height: 384px;
  background-color: white;
  float: bottom;
  margin-top: 457px;
  margin-bottom: 20px;
  box-shadow: 1px -1px 20px 0px black;
}
.fondo{
  width: 100px;
  height: 100px;
  margin-bottom: 382px;
}
.volver{
  float: bottom;
  margin-left: 40px;
  width: 70px;
  height: 100px;
  border-radius: 100px;
}
.logouruguat{
  width: 548px;
    height: 330px;
    margin: 20px 0 -380px -96px;
  
}
.grupos{
  width: 520px;
  height: 300px;
  margin: -2px 0 0 690px;

}

.textoestadios2{
  font-family: 'Montserrat', sans-serif;
   color: black;
   font-size: 30px;
  font-weight: bold;
  width: 91px;
  height: 30px;
  margin: -42px;
  float: right;
  margin-right: 78px;
    padding: 20px;
}
.logouruguat2{
  width: 548px;
    height: 107px;
    margin: -135px 0 0 630px;
    align-items: center;
}

.logoe{
  width: 230px;
    height: 230px;
    margin: 10px 0px -150px -102px;
    background-color: rgb(255, 230, 0);
    padding: 30px;
    border-radius: 10px;
    align-items: center ;

}


.textoestadio2{

  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 30px;
 font-weight: bold;
text-align: center;

    width: 400px;
    margin-left: 716px;
   padding: 20px;
   background-color:  rgb(255, 230, 0);
   border-radius: 10px;
   }

.logodefensor{
  width: 230px;
    height: 230px;
    margin: 10px 0px -150px -102px;
    background-color: rgb(255, 0, 255);
    padding: 30px;
    border-radius: 10px;
    align-items: center ;

}





.textodefensor{

  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 30px;
 font-weight: bold;
text-align: center;

    width: 400px;
    margin-left: 716px;
   padding: 20px;
   background-color: rgb(255, 0, 255);
   border-radius: 10px;

}

.logoPROGRESO{
  width: 230px;
    height: 230px;
    margin: 10px 0px -150px -102px;
    background-color: rgb(255, 123, 0);
    padding: 30px;
    border-radius: 10px;
    align-items: center ;

}





.textoPROGRESO{

  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 30px;
 font-weight: bold;
text-align: center;

    width: 400px;
    margin-left: 716px;
   padding: 20px;
   background-color: rgb(255, 123, 0);
   border-radius: 10px;

}

.logogallina{
  width: 230px;
    height: 230px;
    margin: 10px 0px -150px -102px;
    background-color: rgb(0, 110, 255);
    padding: 30px;
    border-radius: 10px;
    align-items: center ;

}





.textogallina{

  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
 font-weight: bold;
text-align: center;

    width: 500px;
    margin-left: -76px;
   padding: 20px;
   background-color: rgb(0, 110, 255);
   border-radius: 10px;

}

.logodanubio{
  width: 230px;
    height: 230px;
    margin: 10px 0px -150px -102px;
    background-color: rgb(250, 251, 253);
    padding: 30px;
    border-radius: 10px;
    align-items: center ;

}





.textodanubio{

  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
 font-weight: bold;
text-align: center;

    width: 500px;
    margin-left: -86px;
   padding: 20px;
   background-color: rgb(250, 251, 253);
   border-radius: 10px;

}


.logoTACUAREMBO{
  width: 230px;
    height: 230px;
    margin: 10px 0px -150px -102px;
    background-color: rgb(235, 21, 21);
    padding: 30px;
    border-radius: 10px;
    align-items: center ;

}





.textoTACUAREMBO{

  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
 font-weight: bold;
text-align: center;

    width: 500px;
    margin-left: -76px;
   padding: 20px;
   background-color: rgb(235, 21, 21);
   border-radius: 10px;

}

.logowanders{
  width: 330px;
    height: 230px;
    margin: 10px 0px -150px -92px;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
    align-items: center ;

}





.textowanders{

  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
 font-weight: bold;
text-align: center;

    width: 500px;
    margin-left: -76px;
   padding: 20px;
   background-color: rgb(248, 244, 244);
   border-radius: 10px;

}


.logoatenas{
  width: 230px;
    height: 230px;
    margin: 10px 0px -150px -102px;
    background-color: rgb(235, 21, 21);
    padding: 30px;
    border-radius: 10px;
    align-items: center ;

}





.textoatenas{

  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
 font-weight: bold;
text-align: center;

    width: 500px;
    margin-left: -76px;
   padding: 20px;
   background-color: rgb(235, 21, 21);
   border-radius: 10px;

}


.logoTORQUE{
  width: 230px;
    height: 230px;
    margin: 10px 0px -150px -102px;
    background-color: rgb(21, 185, 235);
    padding: 30px;
    border-radius: 10px;
    align-items: center ;

}





.textoTORQUE{

  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
 font-weight: bold;
text-align: center;

    width: 500px;
    margin-left: -76px;
   padding: 20px;
   background-color: rgb(21, 185, 235);
   border-radius: 10px;

}

.logoFENIX{
  width: 230px;
    height: 230px;
    margin: 10px 0px -150px -102px;
    background-color: rgb(199, 21, 235);
    padding: 30px;
    border-radius: 10px;
    align-items: center ;

}





.textoFENIX{

  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
 font-weight: bold;
text-align: center;

    width: 500px;
    margin-left: -76px;
   padding: 20px;
   background-color: rgb(199, 21, 235);
   border-radius: 10px;

}

.logocerrolargo{
  width: 230px;
    height: 230px;
    margin: 10px 0px -150px -102px;
    background-color: rgb(21, 114, 235);
    padding: 30px;
    border-radius: 10px;
    align-items: center ;

}





.textocerrolargo{

  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
 font-weight: bold;
text-align: center;

    width: 500px;
    margin-left: -76px;
   padding: 20px;
   background-color: rgb(21, 114, 235);
   border-radius: 10px;

}



.logoboston{
  width: 230px;
    height: 230px;
    margin: 10px 0px -150px -102px;
    background-color: rgb(10, 153, 22);
    padding: 30px;
    border-radius: 10px;
    align-items: center ;

}





.textoboston{

  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
 font-weight: bold;
text-align: center;

    width: 500px;
    margin-left: -76px;
   padding: 20px;
   background-color: rgb(10, 153, 22);
   border-radius: 10px;

}


.logoplaza{
  width: 230px;
    height: 230px;
    margin: 10px 0px -150px -102px;
    background-color: rgb(10, 153, 22);
    padding: 30px;
    border-radius: 10px;
    align-items: center ;

}





.textoplaza{

  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
 font-weight: bold;
text-align: center;

    width: 500px;
    margin-left: -76px;
   padding: 20px;
   background-color: rgb(10, 153, 22);
   border-radius: 10px;

}



.logorampla{
  width: 230px;
    height: 230px;
    margin: 10px 0px -150px -102px;
    background-color: rgb(10, 153, 22);
    padding: 30px;
    border-radius: 10px;
    align-items: center ;

}

.textoliverpool{

  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
 font-weight: bold;
text-align: center;

    width: 500px;
    margin-left: -76px;
   padding: 20px;
   background-color: rgb(10, 84, 153);
   border-radius: 10px;

}



.logoliverpool{
  width: 230px;
    height: 230px;
    margin: 10px 0px -150px -102px;
    background-color: rgb(10, 84, 153);
    padding: 30px;
    border-radius: 10px;
    align-items: center ;

}





.textorampla{

  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
 font-weight: bold;
text-align: center;

    width: 500px;
    margin-left: -76px;
   padding: 20px;
   background-color: rgb(10, 153, 22);
   border-radius: 10px;

}



.textopeñarol{

  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
 font-weight: bold;
text-align: center;

    width: 500px;
    margin-left: -76px;
   padding: 20px;
   background-color: rgb(243, 213, 42);
   border-radius: 10px;

}



.logopeñarol{
  width: 230px;
    height: 230px;
    margin: 10px 0px -150px -102px;
    background-color: rgb(243, 213, 42);
    padding: 30px;
    border-radius: 10px;
    align-items: center ;

}


.textocentral{

  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
 font-weight: bold;
text-align: center;

    width: 500px;
    margin-left: -76px;
   padding: 20px;
   background-color: rgb(46, 84, 190);
   border-radius: 10px;

}



.logocentral{
  width: 230px;
    height: 230px;
    margin: 10px 0px -150px -102px;
    background-color: rgb(46, 84, 190);
    padding: 30px;
    border-radius: 10px;
    align-items: center ;

}




.textoriver{

  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
 font-weight: bold;
text-align: center;

    width: 500px;
    margin-left: -76px;
   padding: 20px;
   background-color: rgb(190, 46, 46);
   border-radius: 10px;

}



.logoriver{
  width: 230px;
    height: 230px;
    margin: 10px 0px -150px -102px;
    background-color: rgb(190, 46, 46);
    padding: 30px;
    border-radius: 10px;
    align-items: center ;

}


.textomiramar{

  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
 font-weight: bold;
text-align: center;

    width: 500px;
    margin-left: -76px;
   padding: 20px;
   background-color: rgb(190, 46, 46);
   border-radius: 10px;

}



.logomiramar{
  width: 230px;
    height: 230px;
    margin: 10px 0px -150px -102px;
    background-color: rgb(190, 46, 46);
    padding: 30px;
    border-radius: 10px;
    align-items: center ;

}

.textocerro{

  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
 font-weight: bold;
text-align: center;

    width: 500px;
    margin-left: -76px;
   padding: 20px;
   background-color: rgb(46, 137, 190);
   border-radius: 10px;

}



.logocerro{
  width: 230px;
    height: 230px;
    margin: 10px 0px -150px -102px;
    background-color: rgb(46, 137, 190);
    padding: 30px;
    border-radius: 10px;
    align-items: center ;

}


.textocentenario{

  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
 font-weight: bold;
text-align: center;

    width: 500px;
    margin-left: -76px;
   padding: 20px;
   background-color: rgb(46, 137, 190);
   border-radius: 10px;

}



.logocentenario{
  width: 230px;
    height: 230px;
    margin: 10px 0px -150px -102px;
    background-color: rgb(46, 137, 190);
    padding: 30px;
    border-radius: 10px;
    align-items: center ;

}




